<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Exam</title>
</head>
<body>
    <div class="topnav">
        <h1>USERNAME </h1>
        <a href="#"class ="active-page">Photo</a>
        <a href="http://localhost:3000/video"> Video </a>
        <a href="http://localhost:3000/file">File</a>
      </div>
       <br>
       <br>
       <br>
    <header> 
   
<div class="sp"></div>
<form id="form">
<div class="col-75">
<input type="file" id="photoInput" placeholder="Rasim yuklang">
</div>
<input type="text" id="titleInput">
<button id="btn">Saqlash</button>
<div class="sp"></div>
<button href="http://localhost:3000/login" class="login">chiqish</button>
</header> 
</form>
<div class="gallery">
<ul id="list">
</div>

</body>

<script src="/js/main.js"></script>
</html>