<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <h3>Login va Parol kirting</h3>
 <div>
    <div style="margin: 1% auto 0px; width: 40%;    background-color: rgb(222, 225, 225); ">
        <label for="">Login</label>
        <input class="namelog" type="text" placeholder="Login"/>
    </div>
    <div style="margin: 1% auto 0px; width: 40%;background-color: rgb(222, 225, 225); ">
        <label for="">Password</label>
        <input  class="password" type="password" placeholder="*******"/>
    </div>
    <div class="container"> <button  style="background:#03843b;color:white;margin: 1% auto 3px; width: 50%" class="add">kirish</button> </div>
        
    <div class="container1"><button style="background:#d5fc9a";><a href="http://localhost:3000/registers">Ro'yxatdan o'tish</a></button> </div>
       
 </div>
</body>
<script src="/js/login.js"></script>
</html>